<html>
  <head>
    <title>Sample app</title>
    <link
      ...
      href="{{ url_for('static', filename='stylesheets/style.css') }}"
    />
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <script src="move.js"></script>
  </head>
  <body>
    <h1>Move.io</h1>
    <navbar>
      <ul id="logo-menu">
        <li id="logo-list">
          <a href="home.html"
            ><img id="logo" src="../static/images/Logo.png"
          /></a>
        </li>
        <li id="hackademy">HACKADEMY</li>
      </ul>
      <ul id="menu-items">
        <li><a href="">CHALLENGE</a></li>
        <li><a href="">CLASSES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">LOG IN/SIGN UP</a></li>
      </ul>
    </navbar>
    <section>
        <div class="col-lg-8 offset-lg-2">
        <h3 class="mt-5">Live Streaming</h3>
        <img src="{{ url_for('video_feed') }}" width="100%" />
        </div>
    </section>

    <section id="lesson"> 

    </section>

    <section id="about">

    </section>
  </body>
</html>
