<html>
  <head>
    <title>Sample app</title>
    <link
      ...
      href="{{ url_for('static', filename='stylesheets/style.css') }}"
    />
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <script src="../static/move.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Questrial&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <navbar>
      <ul id="logo-menu">
        <li id="moveio">Move.io</li>
      </ul>
      <ul id="menu-items">
        <li id="challenge_btn">Challenges</li>
        <li id="classes_btn">Classes</li>
        <li id="leaderboard_btn">Leaderboard</li>
        <li id="account_btn">Account</li>
      </ul>
    </navbar>
    <section id="hero" class="pages">
      <div id="demonstrations">
        <div id="demonstration"></div>
        <div id="demonstration2"></div>
      </div>
      <div id="description">
        <h1>New Daily Challenges</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <button id="start">Get Started</button>
      </div>
      <section id="transition-banner">
        Take classes and get instant feedback on exercises
      </section>
      <section id="featured"></section>
    </section>

    <section id="challenges" class="pages hidden">
      <div id="challenge_box" class="col-lg-8 offset-lg-2">
        <h1 class="mt-5">Daily Challenge Feb. 27 2022</h1>
        <img id="challenge_window" class="hero" src="" width="100%" />
      </div>
      <div id="inst"></div>
    </section>
    <section id="classes" class="pages hidden"></section>
    <section id="leaderboard" class="pages hidden">
      <div id="podium_area">
        <div id="bronze" class="podium">
          <h4>Shawn Cho</h4>
          <p>25 Points</p>
        </div>
        <div id="gold" class="podium">
          <h4>Sohshun</h4>
          <p>27 Points</p>
        </div>
        <div id="silver" class="podium">
          <h4>Woo Young</h4>
          <p>26 Points</p>
        </div>
      </div>
      <div id="chart_ranking"></div>
    </section>
    <section id="account" class="pages hidden">
      <div id="profileCard">
        <div id="leftCard">
          <p class="name ans"><b>Welcome! Shawn Cho</b></p>
          <p class="title">Consequetive logins:</p>
          <p class="ans">2</p>
          <p class="title">Longest Streak:</p>
          <p class="ans">2</p>
          <p class="title">Favorite Exercise:</p>
          <p class="ans">Pushup</p>
        </div>
        <div id="rightCard">
          <p>Your Recent Pushup Numbers</p>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </section>
    <section id="login" class="pages hidden"></section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
